
body{font-family: "Open Sans", sans-serif;font-size: 16px;line-height: 1.5;color: #333;background-color: #fff;text-align: justify;}
.text-center{text-align: center;}
/*#mapandlegend{margin: 0 auto;width:80%;}*/

div.container {text-align: center;padding: 10px 20px;}
div.polaroid {width:100%;margin:auto;background-color: white;margin-bottom: 25px;}

