#patrimonylist{
    margin: auto;
    width: 50%;
    border: 1px solid green;
    padding: 10px;
}
.patrimonyitem{
    margin-top:10px;
}
.sel{
    font-family: "Open Sans", sans-serif;
    font-size: 15px;    
}

.image-map-container {
    position: relative;
    display:inline-block;
}
.image-map-container img {
    display:block;
}
.image-map-container .map-selector {
    left:0;top:0;right:0;bottom:0;
    color:#546E7A00;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    transition-property: top, left, right, bottom, color;
}
.image-map-container .map-selector.hover {
    color:#546E7A80;
}

.map-selector:after {
    content: '';
    position: absolute;
    top: inherit;right: inherit;bottom: inherit;left: inherit;
    background: currentColor;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    transition-property: top, left, right, bottom, background;
    pointer-events: none;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width:90%;
}